{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section_main {
width: 100%;
height: 100vh;
}
#section_content{
    
}
header {
height: 10vh;
width: 100%;
background-color: white;
display: flex;
justify-content: center;
position: fixed;
z-index: 5;
}
nav {
width: 90%;
display: flex;
align-items: center;
justify-content:space-between;
}
#logo a {
font-family: "Knewave";
system-ui;
font-weight: 400;
font-style: normal;
font-size: 35pt;
text-decoration: none;

background: linear-gradient(to right, #F96F71,#CEFF89, #F96FEB);
background-clip: text;
box-decoration-break: clone;
color: transparent;
display: inline-block;
}
ul{
display: flex;
align-items: center;
margin-right: 100px;
}
li {
margin: 20px;
list-style: none;
}
li a {
font-family: "Roboto", sans-serif;
font-size:25pt;
font-weight: 300;
text-decoration: none;
color: #939090;
}
main {
position: relative;
}
#main_picture {
position: absolute;
width: 600px;
height: 450px;
border-radius: 60px;
overflow: hidden;
top: 200px;
left: 410px;
z-index: 2;
}

#main_shadow {
position: absolute;
width: 650px;
height: 470px;
background-color:#E9F1B2;
border-radius: 60px;
top: 140px;
left: 460px;
z-index: 1;
}
#quote {
position: absolute;
width: 452px;
height: 320px;
background-color: #fff;
border-radius: 60px;
position: absolute;
top: 440px;
left: 250px;
z-index: 3;
box-shadow: 3px 3px 10px
10px rgb(201, 191, 191);
padding-top: 20px;
}
.text {
height: 70%;
}
#but {
height: 30%;
width: 452px;
display: flex;
justify-content: center;
align-items: center;
}
#quote p {
font-size: 40pt;
margin-top: 0;
margin-bottom: 0;
}
#text_quote1 {

font-family: "Roboto", sans-
serif;

font-style: italic;
text-align: center;
}
#text_quote2 {

font-family: "Roboto", sans-serif;

color: #E9F1B2;
margin-left: 20px;
}
button {
width: 362px;
height: 91px;
background-color: #FCB205;
border: none;
border-radius: 30px;
font-size: 35pt;
color: #fff;

font-family: "Roboto", sans-serif;

font-weight: 600;
}